/************************************
 *
 *	@file=style.css
 *	@author=Damien Calesse
 *
 ************************************/

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: General
:: Radio Player
*/


/* -----------------------------------------
   General
----------------------------------------- */

body {
	background-color: #221F20;
	color: #C8C7C8;
}

a {
	color: orange;
}

	a:hover {
		text-decoration: none;
	}
	a:visited {
		color: #C9C8C9;
	}

/* -----------------------------------------
   Radio Player
----------------------------------------- */
@media only screen and (min-width: 980px) {
	#radioplayer {
		margin: 150px auto 0 auto;
		padding: 0 10px 20px 10px;
		width: 300px;
		text-align: center;
	}
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
	#radioplayer {
		margin: 150px auto 0 auto;
		padding: 0 0 0 0;
		width: 700px;
		text-align: center;
	}
}

#infos {
	text-transform: capitalize;
}


#controls {
	padding: 10% 0 0 0;
}

	#controls a {
		margin: 0 8% 0 8%;
	}
	
#btn_play {
	display: none;
}

	#cover img {
		width: auto;
		height: 100px;
	}